@model ExpressVoitures.Models.Entities.Car

@{
    ViewData["Title"] = "Détails";
}

<a asp-action="Index" class="retour-link mb-4 d-inline-block text-black text-decoration-none mt-5">&larr; Retour</a>

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-7 text-center text-md-start">
            <img src="@Model.ImageUrl"
                 alt="Photo"
                 class="img-fluid fiche-voiture-img"
                 style="border-radius: 16px; max-width: 100%; height: auto;" />
        </div>
        <div class="col-md-5 mt-5 mt-md-5">
            @if (User.IsInRole("Admin"))
            {
                <p>Vous avez publié cette annonce, vous pouvez la :</p>
                <a asp-action="Edit" asp-route-id="@Model.ID" style="margin-right: 40px; color:grey">Modifier</a>
                <a asp-action="Delete" asp-route-id="@Model.ID" style="color:red">Supprimer</a>
            }
            <div class="prixIndex" style="margin-bottom: 18px; margin-top: 30px; font-weight:700; font-size:xx-large">
                    @Model.SellingPrice&nbsp;€
            </div>
            <div class="index">
                <div style="margin-bottom: 18px;">Année : <span>@Model.Year</span></div>
                <div style="margin-bottom: 18px;">Marque : <span>@Model.Brand?.Name</span></div>
                <div style="margin-bottom: 18px;">Modèle : <span>@Model.Model?.Name</span></div>
                <div style="margin-bottom: 18px;">Finition : <span>@Model.Finish</span></div>
            </div>

            <div class="mb-4">
                @if (@Model.IsAvailable)
                {
                    <span class="badge bg-success">Disponible</span>
                }
                else
                {
                    <span class="badge bg-secondary">Vendue</span>
                }
            </div>
        </div>
    </div>
</div>
