@model IEnumerable<ExpressVoitures.Models.Entities.Car>

@{
	ViewData["Title"] = "Index";
}

<h1 class="text-center mt-5 mb-4 display-6">Nos voitures</h1>
<p class="text-center mb-5">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn-cta mb-3">+ Ajouter une voiture</a>
    }
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="d-flex flex-row align-items-center card border-0 shadow-0 h-100 w-100" style="border-radius: 18px;">

                    <div>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <a asp-action="Details" asp-route-id="@item.ID">
                                <img src="@item.ImageUrl" alt="Photo" width="300" style="border-radius: 10px;object-fit:cover;max-height:300px;" 
                                title="Photo de la @item.Brand?.Name @item.Model?.Name (@item.Year)"
                                     alt="Photo de la @item.Brand?.Name @item.Model?.Name (@item.Year)" />

                            </a>
                        }
                    </div>
                    <div class="ms-4">
                        <div class="prixIndex">@item.SellingPrice €</div>
                        <div class ="index">Année : @item.Year</div>
                        <div class="index">Marque : @item.Brand?.Name</div>
                        <div class="index">Modèle : @item.Model?.Name</div>
                        <div class="index">Finition : @item.Finish</div>
                        <div>
                            @if (item.IsAvailable)
                            {
                                <span class="badge bg-success">Disponible</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">Vendue</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
