@model IEnumerable<ExpressVoitures.Models.Entities.Car>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.SellingPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsAvailable)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Finish)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.model)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.brand)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.SellingPrice</td>
				<td>@item.Year</td>
				<td>@item.IsAvailable</td>
				<td>@item.Finish</td>
				<td>@item.model?.Name</td>
				<td>@item.brand?.Name</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
					@Html.ActionLink("Details", "Details", new { id = item.ID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.ID })
				</td>
			</tr>
		}

	</tbody>
</table>
