@model IEnumerable<ExpressVoitures.Models.Entities.Car>

@{
	ViewData["Title"] = "Index";
}

<h1>Nos voitures</h1>

<p>
	<a asp-action="Create">+ Ajouter une voiture</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Image</th>
			<th>@Html.DisplayNameFor(model => model.SellingPrice)</th>
			<th>@Html.DisplayNameFor(model => model.Year)</th>
			<th>@Html.DisplayNameFor(model => model.IsAvailable)</th>
			<th>@Html.DisplayNameFor(model => model.Finish)</th>
			<th>@Html.DisplayNameFor(model => model.model)</th>
			<th>@Html.DisplayNameFor(model => model.brand)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                        <a asp-action="Details" asp-route-id="@item.ID">
                            <img src="@item.ImageUrl" alt="Photo" width="150" style="object-fit:contain;max-height:100px;" />
                        </a>
                        }
                        else
                        {
                        <span>Pas d'image</span>
                        }
                </td>
                <td>@item.SellingPrice</td>
                <td>@item.Year</td>
                <td>@item.IsAvailable</td>
                <td>@item.Finish</td>
                <td>@item.model?.Name</td>
                <td>@item.brand?.Name</td>
                <td>
                </td>
            </tr>
            }
    </tbody>

</table>
